.btn {
  height: 55px;
  width: 265px;
  padding: 5px;
  background-color: transparent;
  font-size: 2.4rem;
  color: $color-main-element;
  border: 1px solid $color-main-element;
  border-radius: 55px;
  opacity: .9;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background-color: $color-main-element;
    color: $color-additional-element;
  }

  &:active {
    background-color: $color-theme;
    color: $color-additional-element;
  }
}
