.card-answer {
  img {
    border-radius: 15px;
  }

  .pic-name {
    margin-top: 20px;
    font-size: 1.8rem;
    text-align: center;
  }

  .pic-info {
    font-size: 1.4rem;
    margin: 7px 0 20px;
  }

  .img-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .status {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 7%;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 3rem;
    color: #000;

    &.correct {
      background-color: $color-correct;
    }

    &.wrong {
      background-color: $color-wrong;
    }

    &.show {
      display: flex;
    }
  }

  .btn {
    width: 85%;
  }
}
