.app-bg.popup-bg {
  position: absolute;
  top:0;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: .6;
  z-index: 15;
}

.popup {
  position: absolute;
  bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  padding: 5%;
  color: #000;

  background-color: $color-main-element;
  border-radius: 15px;
  z-index: 20;

  .btn {
    height: 45px;
    color: #000;
    font-size: 1.4rem;

    &.next-btn {
      background-color: $color-theme;
      border-color: $color-theme;

      &:hover {
        border-color: #000;
      }
    }
  }
}

.popup.show {
  animation-name: show-card;
  animation-duration: .2s;
}

@keyframes show-card {
  0%   {bottom: -100vh;}
  100% {bottom: 5vh;}
}

.popup.hide {
  animation-name: hide-card;
  animation-duration: .2s;
}

@keyframes hide-card {
  0%   {bottom: 5vh;}
  100% {bottom: -100vh;}
}

