:root {
  --bg-dark: #030303;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font-link-active: #7E6C51;
  --font-white: #ffffff;
  --font1: 80px;
  --font2: 32px;
  --font3: 28px;
  --font4: 22px;
  --font5: 18px;
  --font-thin: 100;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 700;
  --font-family1: 'Roboto', sans-serif;
  --font-family2: 'Forum', cursive;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family1);
  scroll-behavior: smooth;
}

li{
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.2s;
}

.page-header {
  background-color: var(--bg-dark);
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 810px;
}

.section {
  padding: 75px 0;
}

.column-section {
  flex-direction: column;
}

.dark-section {
  background-color: var(--bg-dark);
  color: var(--font-white);
}

.section-title {
  width: 100%;
  font-family: var(--font-family2);
  font-size: var(--font1);
  font-weight: var(--font-regular);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.gold-title {
  color: var(--font-gold);
}

.underline-title {
  padding-bottom: 25px;
  border-bottom: 3px solid var(--dark-red);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  color: var(--font-white);
}

.logo {
  display: inline-flex;
  align-items: baseline;
}

.logo-img {
  width: 50px;
  height: 30px;
  background-image: url("assets/svg/logo.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.logo-text {
  padding-left: 25px;
  font-family: var(--font-family2);
  font-size: var(--font3);
  font-weight: var(--font-regular);
  letter-spacing: 5px;
  text-transform: uppercase;
}

.header-navigation {
  max-width: 775px;
  width: 100%;
  height: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.nav-list-item {
  display: flex;
  align-items: center;
}

.nav-item-link {
  padding: 50% 0;
  font-size: var(--font4);
  font-weight: var(--font-thin);
  letter-spacing: 2px;
  color: var(--font-white);
}

.nav-item-link:hover {
  color: var(--font-gold);
}

.nav-item-link:active {
  color: var(--font-link-active);
}

/* Welcome section */
.welcome-section {
  padding: 0;
}

.welcome-section .container {
  position: relative;
  justify-content: flex-end;
}

.welcome-content {
  position: absolute;
  top: 150px;
  left: 0;
  max-width: 600px;
  z-index: 50;
}

.welcome-text {
  margin-bottom: 75px;
}

.main-heading {
  margin-bottom: 25px;
}

.slogan {
  font-size: var(--font3);
  font-weight: var(--font-light);
  letter-spacing: 2px;
}

.btn-link {
  display: inline-block;
  padding: 25px 65px;
  border-radius: 10px;
  font-size: var(--font4);
  font-weight: var(--font-light);
  color: var(--font-white);
  background-color: var(--dark-red);
  letter-spacing: 2px;
}

.btn-link:hover {
  background-color: var(--font-gold);
}

.welcome-carousel {
  position: relative;
  width: 70%;

}

.welcome-carousel .item-container {
  height: 100%;
}

.carousel-item {
  height: inherit;
  background-image: url("assets/img/welcome-slider/1.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  box-shadow: inset 300px 0px 200px -140px #000000;
}

.carousel-control {
  position: absolute;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  right: 0;
  bottom: 0;
  width: 45%;
  height: 40px;
  padding: 40px 75px;
  background-color: var(--bg-dark);
}

.slide-num {
  display: flex;
  justify-content: space-between;
  font-size: var(--font4);
}

.slide-num .current {
  padding: 0 10px;
}

.slide-num .total {
  padding: 0 10px;
}

.slide-pagination {
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
  padding: 0 40px;
}

.slide-pagination-item {
  width: 16px;
  height: 16px;
  background-color: var(--font-white);
  transition: 0.2s;
}

.slide-pagination-item:hover {
  background-color: var(--font-gold);
}

.slide-pagination-item.active {
  background-color: #d2b183;
}

.control-arrows {
  display: flex;
}

.control {
  padding: 0 10px;
}

.control svg path {
  transition: 0.2s;
}

/* TODO: increase hover area */

.control svg path:hover {
  fill: var(--font-gold);
}

.arrow-right {
  transform: rotate(180deg);
}

/* Visiting section */
.visiting-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 75px;
  gap: 75px 10px;
}

.underline-subtitle {
  position: relative;
  padding-top: 25px;
  font-family: var(--font-family2);
  font-weight: var(--font-regular);
  font-size: var(--font2);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.underline-subtitle::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 2px;
  width: 68%;
  background-color: var(--dark-red);
}

.virtual-tour-text {
  padding-top: 15px;
  font-weight: var(--font-thin);
  font-size: var(--font4);
}

.google-view-text {
  padding-top: 10px;
  font-weight: var(--font-thin);
  font-size: var(--font5);
}